{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>GAMERS DE TRUE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/gdt.png" type="image/x-icon">
</head>
<body>
<h1>GAMERS DE TRUE</h1>
<ul>
  <li><a class="active" href="#home">Início</a></li>

<!--Notícias-->
  <li class="dropdown">
      <a href="#info">Infos</a>
      <div class="dropdown-content">
        <a href="#informacoes">Referências</a>
        <a href="#">Sobre nós</a>
        <a href="#">Mundo Gamer</a>
      </div>
  </li>
<!--Jogos-->

  <li class="dropdown">
    <a href="#" class="dropbtn">Jogos</a>
    <div class="dropdown-content">
      <a href="#">Among Us</a>
      <a href="#">GTA SA</a>
      <a href="#">Minecraft</a>
    </div>
  </li>


<!--Social-->
  <li class="dropdown">
    <a href="#social" class="dropbtn">Social</a>
    <div class="dropdown-content">
        <a href="#">Discord</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>
  </li>
</ul>

<div class="novo">
    

</div>
    <!--Meio da página-->
    <!--informações-->
    <section class="flex">
   
        <div>
          <img src="{% static "img/banner3.jpg" %}" alt="imagem">
          <a href="#">Nosso canal.</a>
      </div>
      <div>
          <img src="{% static "img/banner2.png" %}" alt="imagem">
          <a href="#">Nosso canal.</a>
      </div>
      <div>
          <img src="{% static "img/banner2.png" %}" alt="imagem">
          <a href="#">Nosso canal.</a>
      </div>
      <div>
          <img src="{% static "img/logo.jpg" %}" alt="imagem">
          <a href="#">Nosso canal.</a>
      </div>
    </section>
<div id="informacoes">
        <h2> Referências</h2>
        <p>A maioria dos dados e sites de notícias são de terceiros, logo, deixamos claro que se trata apenas de uma página de 
            interação entre amigos, para dirversão e informações.
        </p>


</div>
<div class="pe">
    <h5>2019 - 2020 © GAMERS DE TRUE | Todos os direitos reservados. </h5>
</div>
</body>
</html>
</html>