{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMERS DE TRUE</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/gdt.png" type="image/x-icon">
</head>
<body>
<h1>GAMERS DE TRUE</h1>
<ul>
  <li><a class="active" href="#home">Início</a></li>

<!--Notícias-->
  <li class="dropdown">
    <a href="#info">Infos</a>
    <div class="dropdown-content">
      <a href="#informacoes">Referências</a>
      <a href="#">Sobre nós</a>
      <a href="https://gamersnews.com.br/categorias/noticias/" target="_blank">Mundo Gamer</a>
    </div>
  </li>
<!--Jogos-->
  <li class="dropdown">
    <a href="#" class="dropbtn">Jogos</a>
    <div class="dropdown-content">
      <a href="#">Among Us</a>
      <a href="#">GTA SA</a>
      <a target="_blank" href="https://www.minecraft.net/pt-br/">Minecraft</a>
    </div>
  </li


<!--Social-->

  <li class="dropdown">
    <a href="#social" class="dropbtn">Social</a>
    <div class="dropdown-content">
        <a target="_blank" href="https://discord.gg/QmUxUsZ">Discord</a>
        <a target="_blank" href="https://www.youtube.com/channel/UCBZp7uz2-M8fXRTEjNM5CRQ">Youtube</a>
        <a target="_blank" href="#">Instagram</a>
        <a target="_blank" href="#">Facebook</a>
    </div>
  </li>
  </ul>

<div class="novo">
  <div align="center" class="videos">


    <h2>Minecraft</h2>
    
    <p>Minecraft é um jogo eletrônico sandbox de sobrevivência criado pelo desenvolvedor sueco Markus "Notch" Persson e posteriormente desenvolvido e publicado pela Mojang Studios, cujo foi obtida pela Microsoft em 2014.
     <p>Em Minecraft, os jogadores exploram um mundo aberto tridimensional intencionalmente em blocos, pixelizado e gerado proceduralmente, podendo descobrir e extrair matérias-primas, ferramentas artesanais, construir estruturas ou terraplanagens e, dependendo do modo de jogo, podem combater inimigos controlados por computador, bem como cooperar ou competir contra outros jogadores no mesmo mundo.</p>
    </p>
    <a class="saibamais" href="https://pt.wikipedia.org/wiki/Minecraft" target="_blank">Ler artigo completo.</a>
  </div>
  <div align="center" class="videos2">
    
    <h2>
      Among Us
    </h2>
    <p>Among Us é um jogo online que se passa numa nave perdida, onde um grupo de astronautas tem que descobrir quem, entre eles, é na verdade um impostor, e que tem como missão sabotar a nave e matar geral, porque um homem do espaço, chamado Thanos, queria a nave só porque era uma das naves mais poderosas da galáxia inteira.
    </p>
    <p>O jogo também tem um chat no qual você pode usá-lo para acusar os coleguinhas, se você acusar muitos inocentes e muitos serem expulsos da nave, os impostores podem ganhar de lavada, por isso cuidado quando forem acusar o coleguinha. Também tem os noobs que querem namorar virtualmente e pegar a idade dos outros e falar a dele e falar sobre sexo, além de falar um monte de palavrão.</p>
    <a class="saibamais" href="https://desciclopedia.org/wiki/Among_Us" target="_blank">Ler artigo completo.</a>
  </div>
  <div align="center" class="videos3">
    
    <h2>
      GTA SA
    </h2>
    <p>Grand Theft Auto: San Andreas é um jogo eletrônico de ação-aventura desenvolvido pela Rockstar North e publicado pela Rockstar Games. É o quinto título principal da série Grand Theft Auto e foi lançado em outubro de 2004 para PlayStation 2 e em junho de 2005 para Xbox e Microsoft Windows.
    </p>
    <p>San Andreas foi aclamado pela crítica ao ser lançado, com elogios sendo direcionados particularmente para sua música, jogabilidade, história e projeto de mundo aberto. Entretanto, ele gerou grandes controvérsias devido sua violência e conteúdo sexual, especialmente após o desbloqueio por parte de alguns jogadores do minijogo de sexo "Hot Coffee". O título mesmo assim tornou-se o jogo mais vendido de 2004, com mais de 27,5 milhões de cópias já tendo sido vendidas e permanecendo até hoje como o jogo mais vendido do PlayStation 2 e um dos jogos mais vendidos de todos os tempos.</p>
    <a class="saibamais" href="https://pt.wikipedia.org/wiki/Grand_Theft_Auto:_San_Andreas" target="_blank">Ler artigo completo.</a>
  </div>
</div>
    

  </div>
      <!--Meio da página-->
      <!--informações-->
      <section class="flex">
    
          <div>
            <img src="{% static "img/banner3.jpg" %}" alt="imagem">
            <a href="#">Nosso canal.</a>
        </div>
        <div>
            <img src="{% static "img/banner2.png" %}" alt="imagem">
            <a href="#">Nosso canal.</a>
        </div>
        <div>
            <img src="{% static "img/banner2.png" %}" alt="imagem">
            <a href="#">Nosso canal.</a>
        </div>
        <div>
            <img src="{% static "img/logo.jpg" %}" alt="imagem">
            <a href="#">Nosso canal.</a>
        </div>
      </section>
  <div id="informacoes">
          <h2> Referências</h2>
          <p>A maioria dos dados e sites de notícias são de terceiros, logo, deixamos claro que se trata apenas de uma página de 
              interação entre amigos, para dirversão e informações.
          </p>


  </div>
<div class="pe">
    <h5>2019 - 2020 © GAMERS DE TRUE | Todos os direitos reservados. </h5>
</div>
</body>
</html>
</html>