body {
    background: linear-gradient(90deg, rgb(30, 25, 31) 0%, rgb(36, 24, 39) 49%, rgb(26, 8, 31) 100%);
}
h1 {
    font-family: Arial black;
    font-size: 60px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: auto;
    filter:alpha(opacity=60);
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
    
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: arial black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 2px gray;


    
}

li {
    float: left;
    
    
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    transition: 0.6s;
}

li.dropdown {
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover{
    background-color: #a89a9a;
    border-radius: 10px;
    transition: 0.6s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.6s;

 
}

.novo {
    display: flexbox;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px gray;
    background: none;
    background: cover;
    background-position: center;


}


.videos {

    background: url(../img/banner.jpg);
    background-position: center;
    

    margin: 20px;
    display: block;
    border: solid 1px white;
    max-width:auto;
    min-width: 200px;
    border-radius: 20px;    


}

.videos2 {
    background: url(../img/among.webp);
    background-position: center;
    margin: 20px;
    display: block;
    border: solid 1px white;
    max-width: auto;
    min-width: 200px;
    border-radius: 20px; 
}

.videos3 {
    background: url(../img/GTA.webp);
    background-position: center;
    margin: 20px;
    display: block;
    border: solid 1px white;
    max-width: auto;
    min-width: 200px;
    border-radius: 20px;
}
.yt {
    display: inline-block;
    margin: 10px;


}

.novo p {
    font-family: arial;
    font-weight: 600;
    margin: 20px;
    text-align: justify;
    color: white;

}

.novo h2 {
    font-family: arial;
    font-size: 40px;

}

.novo a {
    text-decoration: none;
    color: white;

    font-family: arial;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
    background-color: black;
    display: block;
    max-width: max-content;
    border-radius: 30px;
}

.novo a:hover {
    background-color: green;
    color: white;
    transition: 0.9s;
}
/*meio */


#ct {
    text-align: center;
    margin: auto;
    background-color: black;
    padding: 10px;
    font-family: arial;
    font-style: oblique;
    filter:alpha(opacity=60);
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
    border-radius: 30px;
}
img {
    max-width:100%;
    display: block;
    box-shadow: 0 2px 2px gray;
    max-height: auto;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}


.flex > div {
    flex: 1 1 150px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.flex a {
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: gray;
    display: block;
    max-width: max-content;
    border-radius: 20px;
}
.flex a:hover {
    background-color: green;
    color: white;
    transition: 0.9s;
}

.flex img {
    border-radius: 30px;
}
/*Imagens e infos */
#informacoes{
    margin: auto;
    width: auto;
    background-color: black;
    height: auto;
    border-radius: 10px;
    border: solid 2px white;


}

#informacoes h2 {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
}
#informacoes p {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
    font-weight: 600;
    text-align: justify;
}

.pe h5 {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px white;
}


