body {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(103,44,41,1) 49%, rgba(0,0,0,1) 100%);
}
h1 {
    font-family: Arial black;
    font-size: 60px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: auto;
    filter:alpha(opacity=60);
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: arial black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    
}

li {
    float: left;
    
    
}



li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
}

li.dropdown {
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;


}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover{
    background-color: #a89a9a;
    border-radius: 10px;

}

.dropdown:hover .dropdown-content {
    display: block;
 
}

.novo {
    width: auto;
    height: auto;
    min-height: 300px;
    margin: 0;
    margin-top: 10px;
    background-color: Black;
    display: flexbox;
    border-radius: 10px;
}

/*meio */


#ct {
    text-align: center;
    margin: auto;
    background-color: black;
    padding: 10px;
    font-family: arial;
    font-style: oblique;
    filter:alpha(opacity=60);
    opacity: 0.8;
    -moz-opacity:0.8;
    -webkit-opacity:0.8;
    border-radius: 30px;
}
img {
    max-width:100%;
    display: block;
    box-shadow: 0 5px 5px wheat;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}


.flex > div {
    flex: 1 1 150px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.flex a {
    font-family: arial;
    font-size: 20px;
    margin: auto;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0;
    text-align: center;
}

.flex img {
    border-radius: 30px;
}
/*Imagens e infos */
#informacoes{
    margin: auto;
    width: auto;
    background-color: black;
    height: auto;
    border-radius: 10px;


}

#informacoes h2 {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
}
#informacoes p {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
}

.pe h5 {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-family: arial;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
}

